<%- include("partials/head.ejs") %>
<main>
<h1>Gaming by Gamers</h1>
<h2 class="titleblog"><%= head || 'Welcome to Our Blog' %></h2>
<p class="contentblog"><%= body || 'Share your favorite video games and experiences here.' %></p>









</main>


<%- include("partials/footer.ejs") %>